import { Flex } from "@chakra-ui/react"
import { NextPage } from "next"
import Head from "next/head"
import { useRouter } from "next/router"
import MainTemplate from "../components/Template/MainTemplate"
import { NAVBAR_VARIANT } from "../components/Organism/Navbar"

const {{pascalCase name}}: NextPage = () => {
  const { pathname } = useRouter()
  return (
    <Flex>
      <Head>
        <title>{{pascalCase name}} | Jornada</title>
        <meta
          name="description"
          content="TCC de Página Web sobre Cartomancia"
        />
        <link rel="icon" href="/favicon.ico" />
      </Head>
      <MainTemplate pathname={pathname} navbarVariant={NAVBAR_VARIANT.signUp}>
        <Flex>
          {{pascalCase name}}
        </Flex>
      </MainTemplate>
    </Flex>
  )
}

export default {{pascalCase name}}
